<div class="o-grid-container">
  <div class="o-grid-row">
    <div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">
      <figure class="graphic graphic-b-1 graphic-pad-1">
        <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/ftcms%3A178394c2-08bd-11e7-97d1-5e720a26771b?source=ig&amp;fit=scale-down&amp;width=700">
        <figcaption class="o-typography-caption">©Dreamstime</figcaption>
      </figure>
      <p>
        The eleven questions below are selected from the 300 test questions that form the basis of <a href="https://www.ft.com/content/172d4660-0973-11e7-ac5a-903b21361b43" target="_blank">Spain's CCSE citizenship test</a>. The test covers “constitutional and socio-cultural” knowledge, and is administered by the Cervantes Institute, the official body that promotes Spanish culture and language overseas. In the real-life test, candidates must answer 25 multiple choice questions, of which they must get at least 15 right.
      </p>
    </div>
  </div>

  <div ng-repeat="question in questions">
    <div class="animate-reveal"
        ng-controller="QuestionCtrl"
        ng-show="$index <= currentQuestion.value"
        ng-cloak>

      <div class="o-grid-row">
        <div data-o-grid-colspan="12 M8 L6 center">
          <h2 style="text-align: center">Question {{$index + 1}} of {{questions.length}}</h2>
        </div>
      </div>

      <div class="o-grid-row">
        <div data-o-grid-colspan="12 M8 center">
          <div class="o-grid-row">
            <div data-o-grid-colspan="12 L6" class="quiz-image">
              <p ng-bind-html="questions[$index].question"></p>
            </div>

            <div data-o-grid-colspan="12 L6">
              <div class="answer-controls"
                  ng-repeat="choice in choices[$index]">
                <button class="o-buttons o-buttons--big o-buttons--standout"
                    ng-click="submitAnswer()"
                    ng-class="{correct: answerSubmitted && choice === correctAnswer, incorrect: answerSubmitted && choice != correctAnswer}"
                    ng-disabled="answerSubmitted">

                  {{choice}}

                  <div style="float: right; padding-right: 10px">
                    <i class="icon-tick" style="position: absolute"
                        ng-show="answerSubmitted && choice === userAnswer && choice === correctAnswer"></i>
                    <i class="icon-cross" style="position: absolute"
                        ng-show="answerSubmitted &&  choice === userAnswer && choice != correctAnswer"></i>
                  </div>
                </button>
              </div>
            <!-- /data-o-grid-colspan -->
            </div>
          <!-- /o-grid-row -->
          </div>
        </div>
      </div>

      <div class="o-grid-row animate-reveal"
          ng-show="answerSubmitted">
        <div data-o-grid-colspan="12 M8 L6 center">
          <div style="text-align: center">
            <i class="icon-arrow-down"></i>
          </div>
        <!-- /data-o-grid-colspan -->
        </div>
      </div>

      <div class="splash animate-splash"
          ng-class="{correct: isCorrect, incorrect: !isCorrect}"
          ng-show="showSplash">
        <div class="o-big-number__title animate-splash"
            ng-show="answerSubmitted && isCorrect">
          Correct

          <div>
            <i class="icon-thumb-up"></i>
          </div>
        </div>

        <div class="o-big-number__title animate-splash"
            ng-show="answerSubmitted && !isCorrect">
          Incorrect

          <div>
            <i class="icon-thumb-down"></i>
          </div>
        </div>
      </div>
    <!-- /ng-controller -->
    </div>
  <!-- /ng-repeat -->
  </div>

  <!-- Results -->
  <div ng-show="quizStatus.isOver">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12 M8 L6 center" style="margin-top: 6px;">
        <h2 class="o-typography-header-2" style="text-align: center;">Your result: {{userScore.value}}/{{questions.length}}</h2>
        <div ng-bind-html="message.text"></div>
      </div>
    </div>

    <div class="o-grid-row">
      <div data-o-grid-colspan="12 M8 L6 center" style="max-height: 200px; margin-top: 4px; text-align: center">
        <svg version="1.1" baseprofile="full" xmlns="http://www.w3.org/2000/svg" width="200" height="200" id="radial-gauge">
          <circle id="total"></circle>
          <circle id="score"></circle>
        </svg>

        <div class="o-big-number__title gauge" style="text-align: center">
          <span>{{userScore.value}}</span><span>/{{questions.length}}</span>
        </div>
      </div>
    </div>

    <div class="o-grid-row">
      <div data-o-grid-colspan="12 M8 L6 center" style="margin-top: 0.5em; margin-bottom: 0.8em; text-align: center">
        <div class="answer-controls">
          <button class="o-buttons o-buttons--big o-buttons--standout tweet-result"
              ng-disabled="!quizStatus.isOver"
              socialshare
              socialshare-provider="twitter"
              socialshare-text="I scored {{userScore.value}}/{{questions.length}} on the FT's Spanish citizenship quiz! Would you qualify for a ‘pasaporte’?"
              socialshare-url="https://ig.ft.com/sites/quiz/spanish-citizenship-test/">
            <i class="fa fa-twitter"></i>

            Tweet Your Result
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<script>if (cutsTheMustard) addScript('https://origami-build.ft.com/v2/bundles/js?modules=o-big-number@^1.1.3', true, true)</script>
